<html lang="en">
<head>
    {% extends 'header.html' %}

{% block title %}Магазин{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>

                <li><a href="{% url '' %}"><button type="button">Домашняя страница</button></a></li>
                <li><a href="{% url 'create_blog_post' %}">Create</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy;2023 Блог магазина</p>
    </footer>
</body>
</html>